# Ignorar el archivo .env
.env

# Base de datos local (si usas SQLite)
*.sqlite3

# Ignorar todo dentro de migrations excepto los archivos .py
**/migrations/__pycache__/
**/migrations/*.pyc
!*/migrations/*.py

# Archivos de compilación de Python
*.pyc
__pycache__/

# Configuración de IDEs
.vscode/
.idea/

# Archivos de sistema (Mac/Windows)
.DS_Store
Thumbs.db

# Ignorar el entorno virtual
venv_gestion_pacientes/
venv/