{% extends "base_tailwind.html" %}
{% load static %}

    {% if request.user.is_authenticated and not request.user.signature_image %}
    <div class="p-3 border border-yellow-300 bg-yellow-50 rounded text-sm text-yellow-800">
        ¿Querés que tu firma manuscrita aparezca en los informes? <a href="{% url 'perfil_editar' %}" class="underline">Subila aquí</a>.
    </div>
    {% endif %}
{% block content %}
<section class="py-8 px-4 mx-auto max-w-screen-xl lg:py-14 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-blue-800 dark:text-white">¡Bienvenido {{ user.first_name|default:"" }}!</h2>
        <p class="font-light text-gray-600 lg:mb-16 sm:text-xl dark:text-gray-400">Acá podés gestionar tus órdenes
            médicas y acceder a las funcionalidades disponibles según tu rol.</p>
    </div>
    <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
        <!-- Card para registrar nueva orden médica -->
        <div class="bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-xl shadow-sm flex flex-col lg:flex-row">
            <figure class="bg-cyan-500 p-6 flex items-center justify-center">
                <svg class="h-16 w-16 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                        d="M8 7V2.221a2 2 0 0 0-.5.365L3.586 6.5a2 2 0 0 0-.365.5H8Zm2 0V2h7a2 2 0 0 1 2 2v.126a5.087 5.087 0 0 0-4.74 1.368v.001l-6.642 6.642a3 3 0 0 0-.82 1.532l-.74 3.692a3 3 0 0 0 3.53 3.53l3.694-.738a3 3 0 0 0 1.532-.82L19 15.149V20a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd"
                        d="M17.447 8.08a1.087 1.087 0 0 1 1.187.238l.002.001a1.088 1.088 0 0 1 0 1.539l-.377.377-1.54-1.542.373-.374.002-.001c.1-.102.22-.182.353-.237Zm-2.143 2.027-4.644 4.644-.385 1.924 1.925-.385 4.644-4.642-1.54-1.54Zm2.56-4.11a3.087 3.087 0 0 0-2.187.909l-6.645 6.645a1 1 0 0 0-.274.51l-.739 3.693a1 1 0 0 0 1.177 1.176l3.693-.738a1 1 0 0 0 .51-.274l6.65-6.646a3.088 3.088 0 0 0-2.185-5.275Z"
                        clip-rule="evenodd" />
                </svg>
            </figure>
            <div class="p-6 flex-1">
                <h2 class="text-lg font-semibold text-blue-800">Registrar nueva orden médica</h2>
                <p class="text-gray-600">Acá podés registrar una nueva orden médica codificada.</p>
                <div class="flex justify-end mt-5">
                    <button data-modal-target="modal-nueva-orden" data-modal-toggle="modal-nueva-orden"
                        class="block text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-md text-sm px-5 py-2.5 text-center"
                        type="button">
                        <i class="fas fa-plus mr-2"></i> Nueva Orden
                    </button>
                    <div id="modal-nueva-orden" tabindex="-1" aria-hidden="true"
                        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative p-4 w-full max-w-md max-h-full">
                            <!-- Modal content -->
                            <div class="relative bg-white dark:bg-gray-800 rounded-lg shadow-sm border border-gray-200 dark:border-gray-700">
                                <!-- Modal header -->
                                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-200 dark:border-gray-700">
                                    <h3 class="text-xl font-semibold text-blue-800 dark:text-blue-200">
                                        Registrar nueva orden médica
                                    </h3>
                                    <button type="button"
                                        class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                                        data-modal-hide="modal-nueva-orden">
                                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                            fill="none" viewBox="0 0 14 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                        </svg>
                                        <span class="sr-only">Close modal</span>
                                    </button>
                                </div>
                                <!-- Modal body -->
                                <div class="p-4 md:p-5">
                                    <form method="post" action="{% url 'control_ordenes:crear_orden' %}">
                                        {% csrf_token %}
                                        <div class="text-blue-800 dark:text-blue-200 space-y-3">
                                            <label for="identificador_paciente" class="block text-sm font-medium mb-1">Identificador del paciente</label>
                                            {{ form.identificador_paciente }}
                                            <label for="dias_validez" class="block text-sm font-medium mb-1">Válido por</label>
                                            {{ form.dias_validez }}
                                        </div>
                                        <button type="submit"
                                            class="mt-4 w-full text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-md text-sm px-5 py-2.5 text-center">
                                            <i class="fas fa-plus mr-2"></i> Registrar Orden
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card para ver órdenes médicas -->
        <div class="bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-xl shadow-sm flex flex-col lg:flex-row">
            <figure class="bg-yellow-400 p-6 flex items-center justify-center">
                <svg class="h-16 w-16 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                        d="M2 6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6Zm4.996 2a1 1 0 0 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM11 8a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-6Zm-4.004 3a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM11 11a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-6Zm-4.004 3a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM11 14a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-6Z"
                        clip-rule="evenodd" />
                </svg>
            </figure>
            <div class="p-6 flex-1">
                <h2 class="text-lg font-semibold text-blue-800">Ver órdenes médicas</h2>
                <p class="text-gray-600">Acá podés consultar las órdenes médicas registradas.</p>
                <div class="flex justify-end mt-5">
                    <a href="{% url 'control_ordenes:lista_ordenes' %}" class="inline-flex items-center px-5 py-2.5 rounded-md bg-amber-500 text-white hover:bg-amber-600 text-sm">
                        <i class="fas fa-list mr-2"></i> Ver Órdenes
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}