{% extends "base_pacientes.html" %}
{% load static %}
{% block title %}Portal de Pacientes{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center pt-4">
        <div class="col-auto text-center">
            <img src="{% static 'img/CMIlogo.png' %}" alt="Logo CMI" class="mb-0" style="max-width: 180px;">
        </div>
    </div>
    <h2 class="mb-4 text-center text-f2">CENTRO MÉDICO INTEGRAL BELGRANO</h2>
    <div class="row mt-4">
        <div class="col-md-4 mb-3">
            <a href="{% url 'quienes_somos' %}" class="btn btn-pacientes w-100 py-3">Quienes Somos</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{% url 'ubicaciones_y_contactos' %}" class="btn btn-pacientes w-100 py-3">Ubicacion y Contactos</a>
        </div>
        <div class="col-md-4 mb-3">
            <button type="button" class="btn btn-pacientes w-100 py-3">Recetas</button>
        </div>
        <div class="col-md-4 mb-3">
            <button type="button" class="btn btn-pacientes w-100 py-3">Historial Médico</button>
        </div>
        <div class="col-md-4 mb-3">
            <button type="button" class="btn btn-pacientes w-100 py-3">Mensajes</button>
        </div>
        <div class="col-md-4 mb-3">
            <button type="button" class="btn btn-pacientes w-100 py-3">Datos Personales</button>
        </div>
    </div>
    <br>
    <div class="row mt-4 mb-4">
        <div class="col-md-12 text-center object-fit-scale">
            <iframe width="935" height="526" src="https://www.youtube.com/embed/FAF5-nb1PNY" title="Dr. Abel Berger." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}