{% extends "base_pacientes.html" %}
{% load static %}
{% block title %}Portal de Pacientes{% endblock %}

{% block content %}
<!-- Sección Portada -->
<section class="container min-vh-100 d-flex flex-column justify-content-center align-items-center text-center" style="padding-top: 3rem; padding-bottom: 3rem;" id="portada-portal-pacientes">
    <img src="https://res.cloudinary.com/hrhwdlau3/image/upload/v1748979718/CMIlogo_jwbog5.png" alt="Logo CMI" style="max-width: 200px;" class="mb-3 animate-fadein">
    <h1 class="fw-bold text-f2 mb-5 animate-fadein">Centro Médico Integral Belgrano</h1>
    <div class="row justify-content-center g-3 animate-fadein">
        <div class="col-12 col-md-auto">
            <a href="#quienes-somos" class="btn btn-pacientes px-4 py-3 w-100 w-md-auto">
                <i class="bi bi-people-fill me-2"></i>Quiénes Somos
            </a>
        </div>
        <div class="col-12 col-md-auto">
            <a href="#ubicacion-y-contacto" class="btn btn-pacientes px-4 py-3 w-100 w-md-auto">
                <i class="bi bi-geo-alt-fill me-2"></i>Ubicación y Contacto
            </a>
        </div>
    </div>
</section>

<!-- Sección Quiénes Somos -->
<section class="container-fluid py-5 min-vh-100" id="quienes-somos" style="background-color: #E9F0F2;">
    <div class="container text-star">
        <h1 class="mb-3" style="color: #012E6B">Quiénes Somos</h1>
        <div class="row g-4">
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card bg-white border-0 shadow-sm h-100">
                    <img src="https://res.cloudinary.com/hrhwdlau3/image/upload/c_crop,ar_16:9/v1748981960/GrupoMedicoDos_eocazb.jpg" alt="Equipo médico" class="card-img-top"
                         style="max-height: 160px; object-fit: cover;">
                    <div class="card-body text-f2 text-center">
                        <p class="card-text">En el Centro Médico Integral Belgrano, nos dedicamos a brindar atención
                            médica de calidad, con un equipo de profesionales comprometidos con la salud y el bienestar
                            de nuestros pacientes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card bg-white border-0 shadow-sm h-100">
                    <img src="https://res.cloudinary.com/hrhwdlau3/image/upload/v1748983487/CentroPasillo_wybazg.jpg" alt="Instalaciones modernas" class="card-img-top"
                         style="max-height: 160px; object-fit: cover;">
                    <div class="card-body text-f2 text-center">
                        <p class="card-text">Ofrecemos atención médica integral en modernas instalaciones, con un equipo
                            multidisciplinario comprometido con la calidad y el bienestar de nuestros pacientes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card bg-white border-0 shadow-sm h-100">
                    <img src="https://res.cloudinary.com/hrhwdlau3/image/upload/v1748986803/PacienteAtencionDos_wdyhwd.jpg" alt="Atención personalizada" class="card-img-top"
                         style="max-height: 160px; object-fit: cover;">
                    <div class="card-body text-f2 text-center">
                        <p class="card-text">En CMI Belgrano, valoramos la confianza de nuestros pacientes y ofrecemos
                            atención médica de excelencia en un ambiente profesional y acogedor.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="#portada-portal-pacientes" class="btn btn-pacientes-secundario w-auto py-3">
                Volver al inicio
            </a>
        </div>
    </div>
</section>

<!-- Sección Ubicación y Contacto -->
<section class="container-fluid min-vh-100 py-5" id="ubicacion-y-contacto" style="background-color: #12A697;">
    <div class="container">
        <h2 class="mb-3">Ubicación y Contacto</h2>
        <div class="row g-4">
            <div class="col-12 col-md-6">
                <div class="card border-0 shadow h-100">
                    <div class="card-header ratio ratio-21x9 overflow-hidden">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.453380568691!2d-58.45478777439494!3d-34.56739297296733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5d0056d2e23%3A0x9af6da69964d7822!2sVirrey%20Olaguer%20y%20Feli%C3%BA%202462%2C%20C1426EBB%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1748647837835!5m2!1ses!2sar"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="card-body" style="color: #012E6B">
                        <h4 class="card-title mb-3">Donde encontrarnos</h4>
                        <p class="mb-2"><strong>Dirección:</strong> Virrey Olaguer 2462 8a, Belgrano, CABA</p>
                        <p class="mb-2"><strong>Teléfono:</strong> (011) 4789-0001</p>
                        <p class="mb-0"><strong>Email:</strong> contacto@cmi.com.ar</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card border-0 shadow">
                    <div class="card-body" style="color: #012E6B">
                        <h4 class="card-title mb-3">Deja tu mensaje</h4>
                        <p class="card-text">Si tienes alguna consulta o necesitas más información, no dudes en
                            contactarnos. Estamos aquí para ayudarte.</p>
                        <form>
                            <div class="d-flex flex-column flex-md-row gap-3 mb-2">
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control form-control-sm" id="nombre"
                                           placeholder="Ingrese su nombre">
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Correo electrónico</label>
                                    <input type="email" class="form-control form-control-sm" id="email"
                                           placeholder="nombre@ejemplo.com">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="mensaje" class="form-label">Mensaje</label>
                                <textarea class="form-control form-control-sm" id="mensaje" rows="4"
                                          placeholder="Escriba su mensaje"></textarea>
                            </div>
                            <div class="text-end">
                                <button type="submit" class="btn btn-pacientes">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="#portada-portal-pacientes" class="btn btn-pacientes-secundario w-auto py-3">
            Volver al inicio
        </a>
    </div>
</section>
{% endblock %}